.cs-ui-wrapper {
	max-width: 1050px;
	margin-inline: 16px;
	@include breakpoint-min(desktop-lg) {
		margin-inline: auto;
	}
	background: #ffffff;
	border-radius: 10px;
}

.cs-ui-elements-wrapper {
	@include breakpoint-min(tablet) {
		max-width: 730px;
		margin-inline: auto;
	}
}
